body {
    font-family: serif, sans-serif;
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

#mainMenu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* This will allow buttons to wrap to the next line on smaller screens */
}

button {
    display: flex;
    border: none;
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    flex: 1;
    margin: 5px;
    align-items: center;
}

button:hover {
    background-color: #555;
}

button img {
    width: 20px; /* Adjust as needed */
    height: 20px;
    margin-right: 10px; /* Space between icon and text */
}

.button-container {
    display: flex;
    align-items: center; /* Aligns the button and image vertically */
    margin-bottom: 10px; /* Adds space between each button container */
}

.button-container img {
    width: 20px; /* Adjust as needed */
    height: auto;
    margin-right: 10px; /* Space between icon and button */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
}

.header {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
}

#logo {
    width: 200px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px; /* Adds space between the logo and the title */
}

.signin-icon {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center-align items horizontally */
    margin-left: auto; /* Push to the right */
    margin-right: 20px; /* Space from the right edge */
    text-decoration: none; /* Optional: Remove underline from the link */
}

.signin-icon img {
    width: 30px; /* Adjust as needed */
    height: auto;
}

.signin-icon span {
    font-size: 0.8em; /* Adjust text size as needed */
    color: black; /* Text color */
    margin-top: 5px; /* Space between image and text */
}

