body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    border: none;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

#logo {
    width: 200px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px; 
    margin-top: auto;/* Adds some space between the logo and the title */
}